@model Dog

<div class="card col-4" style="width: 20rem;">
    <img src="@Model.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        
        @if(Model.DogTags.Count()>0)
        {
            @foreach (var item in Model.DogTags)
            {
                <span class="badge bg-info rounded-pill"><em>Назначение: @item.Tag.Name</em> </span>
            }
        }
        else
        {
        <span class="badge bg-info rounded-pill"><em>Назначение: None</em> </span>
        }

        <h4 class="card-title text-center">@Model.Breed</h4>
        <h6 class="text-muted text-center fst-italic">@Model.BreedInEnglish</h6>
        <p class="text-center">Группа FCI: @Model.FCICategory.Name</p>
        
       
        <p class="fw-bolder text-center">@Model.Origin</p>
        <p class="card-text">@Model.BehaviorCharacter</p>
                
    </div>
    <div class="btnbottom">
        <a asp-controller="Dog" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info">Подробнее</a>
        <a asp-controller="Dog" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-danger">Редактировать</a>
        <a asp-controller="Dog" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Удалить</a>
        
    </div>
</div>



