@model Dog
@{
    ViewData["Title"] = "Details";
}

<h1>FCI Group @Model.FCICategory.Name | @Model.Breed</h1>


<div class="card" >
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                @if (Model.DogTags.Count() > 0)
                {
                    @foreach (var item in Model.DogTags)
                    {
                        <span class="badge bg-info rounded-pill"><em>Назначение: @item.Tag.Name</em> </span>
                    }
                }
                else
                {
                    <span class="badge bg-info rounded-pill"><em>Назначение: None</em> </span>
                }
                <h5 class="card-title">@Model.BreedInEnglish</h5>
                <p class="card-text "><i>@Model.Origin</i></p>
                <h6 class="card-title">Поведение и характер</h6>
                <p class="card-text">@Model.BehaviorCharacter</p>                
                <h6 class="card-title">История породы</h6>
                <p class="card-text">@Model.HistoryOfBreed</p>
                <a asp-action="Index" asp-controller="Dog" class="btn btn-outline-info">Открыть FCI стандарт</a>
                <a asp-action="Index" asp-controller="Dog" class="btn btn-outline-info">Назад</a>
            </div>
        </div>
    </div>
</div>